@model Game_Library_2._0.Models.UserModel

@if (Session["Username"] != null)
{
    using (Html.BeginForm("Logout", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Add Friend", "SearchForm", "User", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    <li>
        @Html.ActionLink("Friend List", "Friends", "User", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
</ul>
    }
}
else
{
<ul class="navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Authentication", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Login", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
}
