@model Game_Library_2._0.Models.GameModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .image-container img {
        width: 100%;
        height: auto;
        max-width: 30rem;
        max-height: 30rem;
        margin: auto;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .dl-horizontal dt {
        float: left;
        width: 150px;
        overflow: hidden;
        clear: left;
        text-align: left;
        font-weight: bold;
    }

    .dl-horizontal dd {
        margin-left: 160px;
        margin-bottom: 0.5em;
    }
</style>


<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 image-container">
            <img src="@Url.Action("DisplayImage", "Games", new { picturePath = Model.PicturePath })"
                 alt="Image of @Model.Name" class="img-responsive" />
        </div>
        <div class="col-sm-9 details-container">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <dl class="dl-horizontal">

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.Completion)</dt>
                <dd>@Html.DisplayFor(model => model.Completion)%</dd>

                <dt>@Html.DisplayNameFor(model => model.Price)</dt>
                <dd>@Html.DisplayFor(model => model.Price)$</dd>

                <dt>@Html.DisplayNameFor(model => model.Publisher)</dt>
                <dd>@Html.DisplayFor(model => model.Publisher)</dd>
            </dl>
        </div>
    </div>
</div>

<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

